:root {
    --primary-color: #3498db; 
    --primary-light: #5fa8d3;
    --primary-dark: #2980b9; 
    --primary-darker: #0563ce; 
    --secondary-color: #e74c3c;
    --secondary-light: #f06b5e;
    --secondary-dark: #c0392b; 
    
}